@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}
*/
:root{
    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);
    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
    --Font-size: 13px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: var(--Grey-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
.testimonial{
    padding:30px;
    border-radius: 5px;
    background-color: white;
    box-shadow:  21px 21px 35px #bebebe,
             -21px -21px 35px #ffffff;
}
.flex{
    display: flex;
    align-items: center;
    gap: 20px;
}
.box1{
    background-color: var(--Purple-500);
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 60px;
    grid-area: box1;
}
.box2{
    background-color: var(--Grey-500);
    grid-area: box2;
}
.box3{
    grid-area:box3;
}
.box4{
    background-color: var(--Dark-blue);
    grid-area: box4;
}
.box5{
    grid-area: box5;
}
.name{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:white;
    font-size: 0.9rem;
}
.h2-color-for-white-boxes{
    color: var(--Dark-blue);
}
.position{
    color:var(--Grey-200);
    font-size: 0.7rem;
}
img{
    width: 30px;
    border-radius: 50%;
}
article > div + p {
    color: white;
    margin-top: 20px;
    font-size: 1.3rem;
    margin-bottom: 15px;
}
.white-background-heading{
    color: var(--Dark-blue);
}
article p:nth-child(3){
    color: var(--Grey-200);
    font-size: 0.8rem;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-block: 2rem;
    gap: 30px;
    width: min(95%, 70rem);
    margin-inline: auto;
    grid-template-areas: 
    'box1 box1 box2 box5'
    'box3 box4 box4 box5';
}
@media only screen and (max-width:1200px) {
    .testimonial-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        'box1 box1 box2'
        'box5 box5 box5'
        'box3 box4 box4';
    }
}
@media only screen and (max-width:863px){
    .testimonial-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'box1 box1'
        'box2 box5'
        'box3 box5'
        'box4 box4';
    }
}
@media only screen and (max-width:607px){
    .testimonial-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'box1 box1'
        'box2 box3'
        'box5 box5'
        'box4 box4';
    }
}
@media only screen and (max-width:527px){
    .testimonial-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        'box1'
        'box2'
        'box3'
        'box4'
        'box5';
    }
}